// Header start 
.site-header {
    padding: 40px 0 0 55px;
}
.header_container{
    width: 100%;
}
.header {
    @include display($items:center, $justify:space-between, $gap:230px);
}
.header__logo-img {
    display: inline-block;
}
.header__nav{
    width: 830px;
    background-color: #FFFFFF0A;
    backdrop-filter: blur(5px);
}
.header__list {
    padding: 38px 0;
    padding-left: 123px;
    @include display($items:center, $justify:start, $gap:48px);
}
.header__item{
    padding: 0 3px;
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 2px;
        display: inline-block;
        z-index: -2;
        position: absolute;
        right: 0;
        bottom: -2px;
        background-color: white;
        transition: 0.3s all ease;
        cursor: pointer;
    }
    
    &:hover {
        > a {
            color: black;
        }
        > a > span {
            color: black;
        }
        &::after {
            height: 100%;
        }
    }
    
}
.header__item > a {
    letter-spacing: 2.7px;
    @include textStyle($CLR:white, $FS:16px, $FW:400, $LH:100%, $MB:0px);
}
.header__item > a > span {
    padding-right: 8px;
    letter-spacing: 2.7px;
    @include textStyle($CLR:white, $FS:16px, $FW:700, $LH:100%, $MB:0px);
}
.header__btn{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

// Modal start 
.modal-outer {
    inset: 0;
    z-index: 100;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s all linear;
}
.modal-inner {
    width: 65%;
    height: 100vh;
    z-index: 180;
    position: fixed;
    right: -65%;
    top: 0;
    bottom: 0;
    background-color: #FFFFFF0A;
    backdrop-filter: blur(15px);
    transition: 0.3s all linear;
}
.show-outer{
    opacity: 1;
    visibility: visible;
}
.show-inner{
    right: 0;
}
.hide-btn{
    display: none;
}
.no-scroll{
    overflow: hidden;
}


.modal-inner__btn{
    margin: 33px 26px 64px 32px;
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modal__list{
    padding-left: 32px;
}
.modal-inner__Item{
    padding: 5px 0;
    border-right: 4px solid transparent;
    transition: 0.3s all linear;
    &:hover{
        border-right-color: white;
    }
}
.modal-inner__Item + .modal-inner__Item{
    margin-top: 32px;
}
.modal-inner__Item >a {
    letter-spacing: 2.7px;
    @include textStyle($CLR:white, $FS:16px, $FW:400, $LH:100%, $MB:0px);   
}
.modal-inner__Item > a > span{
    padding-right: 4px;
    letter-spacing: 2.7px;
    @include textStyle($CLR:white, $FS:16px, $FW:700, $LH:100%, $MB:0px);
}
// Modal end 

// ------------- Table start 

@media (max-width:1170px){
    .header__nav{
        max-width: 830px; 
    }
}
@media (max-width:1060px){
    .header__list {
        padding-left: 50px;
    }
}
@media (max-width:970px){
    .site-header {
        padding: 0 0 0 40px;
    }
    .header {
        @include display($items:center, $justify:space-between, $gap:230px);
    }
    .header__nav{
        max-width: 480px;
        background-color: #FFFFFF0A;
        backdrop-filter: blur(5px);
    }
    .header__list {
        padding: 38px 47px;
        gap: 37px;
    }
    .header__item > a {
        @include textStyle($CLR:white, $FS:14px, $FW:400, $LH:100%, $MB:0px);
    }
    .header__item > a > span {
        display: none;
    }
}

// ------------- Mobile start 
@media (max-width:730px){
    .site-header {
        padding: 24px 24px 0px 24px;
    }
    .header {
        @include display($items:center, $justify:space-between, $gap:0px);
    }
    .header__nav{
        display: none;
        width: 100%;
    }
    .header__btn{
        display: block;
    }
    .header__logo-img > img{
        width: 40px;
        height: 40px;
    }
}